<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loudg.api.yt.mapper.video.VideoMapper">
  <select id="selectVideos"
          parameterType="com.loudg.api.yt.entity.Video"
          resultType="com.loudg.api.yt.entity.Video">
    SELECT v.videoId
          , title
          , description
          , thumbnails
          , publishedAt
          , CASE WHEN count_str(duration, ':') = 0 then TIME_FORMAT(concat('0:0:', duration), '00:%s')
                 WHEN count_str(duration, ':') = 1 then TIME_FORMAT(concat('0:', duration), '%i:%s')
            ELSE TIME_FORMAT(duration, '%H:%i:%s') END AS duration
          , views
          , estimatedMinutesWatched
          , subscribers
    FROM (
          SELECT v.videoId
                , title
                , description
                , thumbnails
                , publishedAt
                , REPLACE(REPLACE(REPLACE(REPLACE(v.duration, 'PT', ''), 'S', ''), 'M', ':'), 'H', ':') AS duration
                , views
                , estimatedMinutesWatched
                , subscribers
          FROM video v INNER JOIN (
                SELECT vs.videoId
                      , sum(views) as views
                      , sum(estimatedMinutesWatched) as estimatedMinutesWatched
                      , sum(subscribersGained - subscribersLost) as subscribers
                FROM video_stat vs
                GROUP BY videoId
          ) vs ON v.videoId = vs.videoId
          WHERE v.channelId = #{channelId}
    ) v
    ORDER BY publishedAt desc
    LIMIT #{page}, #{rowCount}
  </select>

</mapper>